.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  


.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .registration-form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .registration-form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .registration-form button {
    background-color: #d482a1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registration-form button:hover {
    background-color: #d482a1;
  }
  
  .registration-form p {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  